body {
    min-width: 320px;
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    background: #d3b714;
    align-items: center;
    padding: 25px;
}

#wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;
}

.header-logo {
    cursor: pointer;
}

.main-nav {
    display: none;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-elements:not(:last-child) {
    padding-right: 14px;
}

.nav-elements a {
    text-decoration: none;
    color: #000000;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 360px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    visibility: hidden;
    margin: 0;
    padding-top: 45px;
    list-style: none;
    text-align: center;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

#main {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}

.box-txt {
    padding: 35px 15px 0;
    display: flex;
    flex-direction: column;
}

.main-txt {
    margin: 0 auto;
    text-align: center;
}

.main-title {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 18px 12px;
    width: 33%;
    border: 1px solid #8e8e8e;
    border-radius: 10%;
    margin-bottom: 22px;

}

.main-box:hover {
    background: lightgray;
}

.main-box:hover .main-boxImg {
    transition: transform 2s;
    transform: rotate(360deg);
}


.main-box img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 12px solid #c7b7b7;
}

.main-boxTitle {
    font-size: 16px;
}

.main-boxButton {
    color: #ffffff;
    background: #685174;
    border-radius: 40%;
    padding: 10px 17px;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 0;
}

.main-box>p {
    flex-grow: 1;
    text-align: center;
}

#main aside {
    padding-top: 15px;
    min-width: 210px;
}

.aside-right {
    display: flex;
    justify-content: center;
    background: #9cb1c7;
}

.aside-left {
    display: flex;
    justify-content: center;
    order: -1;
    background: #c798b9;
}

#footer {
    background: #86ec86;
    height: 80px;
    flex: 0 0 auto;
}

@media (max-width:1199px) {
    .main-container {
        justify-content: space-around;
    }

    #main aside {
        min-width: 150px;
    }
}

@media (max-width:999px) {
    #header {
        flex-direction: column;
    }

    .nav-elements {
        font-size: 25px;
    }

    .main-container {
        justify-content: space-around;
    }

    #main aside {
        min-width: 150px;
    }

    .main-box {
        width: 49%;
    }
}

@media (max-width: 725px) {
    #header {
        display: flex;
        align-items: flex-start;
    }

    .container {
        width: 740px;
    }

    .main-box {
        width: 60%;
    }

    .box-txt>p {
        font-size: 20px;
    }

    .box-txt>h1 {
        font-size: 40px;
    }

    .main-box>h2 {
        font-size: 30px;
        text-align: center;
    }

    .main-box>p {
        font-size: 20px;
    }

    .nav-menu {
        display: none;
    }

    .main-boxButton {
        width: 35%;
        text-align: center;
    }

    .main-box>img {
        width: 80%;
    }

    .main-nav {
        display: flex;
    }

    #header {
        display: flex;
        padding: 25px 0 0 0;
    }

    .menu__box {
        display: flex;
        padding: 0;
    }

    .menu__btn {
        top: 40px;
        left: 200px
    }

    .header-logo {
        padding-left: 37px;
    }

    .main-nav {
        margin: 0 auto;
    }

    main {
        flex-direction: column;
    }

    aside {
        height: 30vh;
    }

    .main-box img {
        height: auto;
    }

    .main-boxButton {
        width: 20%;
    }
}