.box-hw1 {
    width: 700px;
    height: 650px;
    background: #0d5825;
    margin-bottom: 30px;
}

.blockquote {
    text-align: center;
    line-height: 0;
    margin-bottom: 180px;
}

.bq-txt {
    color: #fffef7;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 50px;
}

.bq-cite {
    color: #fffef7;
    font-size: 25px;
}

.box-cards {
    display: flex;
}

.card {
    width: 150px;
    position: relative;
}

.img1 {
    cursor: pointer;
    transform: translate(150%) rotate(-20deg);
    transition: transform 0.3s;
}

.img1:hover {
    transform: translate(150%, -15%) rotate(-20deg);
}

.img2 {
    transform: translate(85%, 7%) rotate(-6deg);
    transition: transform 0.3s;
    cursor: pointer;
}

.img2:hover {
    transform: translate(85%, -15%) rotate(-6deg);
}

.img3 {
    transform: translate(22%, 19%) rotate(10deg);
    transition: transform 0.3s;
    cursor: pointer;
}

.img3:hover {
    transform: translate(22%, -15%) rotate(10deg);
}

.box-hw2 {
    display: flex;
    padding: 50px 0 0 70px;
    margin-bottom: 150px;
}

.box-hw2 .box {
    position: relative;
    width: 100px;
    height: 100px;
}

.box1 {
    background: #ff8888;
    z-index: 1;
}

.box2 {
    top: 55px;
    left: -40px;
    background: #7e8aeb;
    z-index: 3;
}

.box3 {
    top: 105px;
    left: -85px;
    background: #4def99;
    z-index: 2;
}

.menu {
    display: flex;
    width: 250px;
    height: 400px;
    background-color: #808080;
    transition: transform 1s;
    transform: translateX(-90%);
}

.menu:hover {
    transform: translateX(0);
}

.opener {
    visibility: visible;
    color: #efefef;
    font-size: 15px;
    margin: 0;
    transform: translate(63px, 180px) rotate(90deg);
}

.menu:hover .opener {
    visibility: hidden;
}

.hold-menu {
    background-color: #808080;
    list-style: none;
    padding-top: 60px;
}

.nav-element {
    padding-bottom: 15px;
}

.nav-element a {
    font-size: 15px;
    color: #efefef;
    text-decoration: none;
    padding-left: 13px;
}

.nav-element a:hover {
    color: #ffa502;
}

.nav-element:before {
    content: ' ';
    position: absolute;
    left: 30px;
    width: 12px;
    height: 12px;
    background: #ffa502;
    transform: rotate(45deg) translateY(4px);
    border: 1px solid black;

}

.box-hw4 {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.bounce {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: bounce 4s infinite;
}

@keyframes bounce {

    0% {
        top: 0;
        left: 0;
    }

    25% {
        transform: translateY(300px);
        background-color: blue;
    }

    50% {
        transform: translate(300px, 300px);
        background-color: green;
    }

    75% {
        transform: translate(300px, 0);
        background-color: yellow;
    }

    100% {
        top: 0;
        left: 0;
    }
}