.content {
    max-width: 100%;
    display: flex;
}

.content-box {
    display: flex;
    flex-grow: 1;
}

.aside-left {
    min-width: 100px;
    background: #404040;
    flex-grow: 0;
}

.aside-right {
    min-width: 100px;
    background: #2d5f3b;
    flex-grow: 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 33.4%;
    padding: 30px;
}

.box1 {
    background: #404040;
}

.box2 {
    background: #f74c55;
}

.box3 {
    background: #2d5f3b;
}

.box-title {
    display: flex;
    align-items: center;
}

.box-title>h1 {
    font-size: 22px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 18px;
}

.box>.box-txt {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    flex-grow: 1;
}

.box>.box2-txt {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.7;
    flex-grow: 1;
}

.box-button {
    border: none;
    outline: none;
    color: #ffffff;
    background: #272727;
    font-size: 34px;
    font-weight: bold;
    width: 35px;
    flex-grow: 0;
    margin-left: 245px;
}

.box2-button {
    border: none;
    outline: none;
    color: #ffffff;
    background: #c53840;
    font-size: 34px;
    font-weight: bold;
    width: 35px;
    flex-grow: 0;
    margin-left: 245px;
}

.box3-button {

    color: #ffffff;
    background: #1c3d25;
    font-size: 34px;
    font-weight: bold;
    width: 35px;
    flex-grow: 0;
}