blockquote {
    color: green;
}
a[href^="https"] {
    color: red;
}
.list > li:last-child a {
    color: blue;
}
ul ~ p {
    font-size: 26px;
}
.text-box h3:first-child {
    color: pink;
}
#greycol {
    color: grey;    
}
.text-box div p {
    color: red;
}
.text-box div ~ p:not(:last-child) {
    color: green;
}
.yellow {
    color: yellow;
}
.bg-box {
    height: 650px;
    background:url(../images/houseBG.jpg) center center / 50% no-repeat,
               url(../images/lampIcon.png) top / 4% repeat-x,
               url(../images/grassBG.png) bottom / 20% repeat-x,
               url(../images/HedgehogIcon.png) left / 3% repeat-y,
               url(../images/donutIcon.png) right / 3% repeat-y;
    background-color: green;  
}
