*,
*:after,
*:before {
    box-sizing: border-box;
}

h2 {
    font-size: 14px;
}

p {
    font-size: 13px;
}

body {
    min-width: 320px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 15px;
}

#header {
    background: #262f3e;
    padding: 10px 0;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 65px;
    width: 65px;
}

.menu-box {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
}

.menu-box>li {
    padding-right: 15px;
}

.menu-box a {
    color: #d9e1ec;
    text-decoration: none;
    font-size: 15px;
}

#menu-toggle {
    visibility: hidden;
}

.header-button {
    background: #ebc63a;
    padding: 14px;
    margin-left: 20px;
    box-shadow: 0 0 25px 0px rgb(254, 227, 138) inset;
    border-radius: 5px;
    outline: none;
    border: none;
    text-decoration: none;
    color: #4a4436;
}

:active .header-button {
    box-shadow: 0 0 10px 0;
}

.content-lang {
    width: 70px;
    background: #262f3e;
    opacity: 50%;
    text-align: center;
    position: relative;
    left: 94%;
    padding: 9px 6px;

}

.content-lang>a {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.content-lang>a:nth-child(1):after {
    content: '';
    border-right: 1px solid #ffffff;
    margin-left: 5px;
}

.content-title {
    margin-bottom: 35px;
    text-align: center;
}

.content-box {
    display: flex;
    flex-flow: wrap;
}

.content-boxElements {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.box-elementsTitle {
    background: #ecebf0;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px 0;
    width: 90%;
    min-height: 40px;
}

.box-elementsTitle>h2 {
    width: 45%;
    margin: 0 auto;
}

.content-boxElements>p {
    width: 80%;
}

.box-img {
    max-height: 95px;
    margin-bottom: 15px;
}

#footer {
    background: #ebebeb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

@media (max-width: 991px) {
    .container {
        max-width: 970px;
    }

    .content-lang {
        display: none;
    }

    .content-boxElements {
        width: 50%;
    }

    h1 {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }

    .header-button {
        display: none;
    }

    .header-box {
        justify-content: space-between;
        padding: 0 30px;
    }

    #menu-toggle {
        opacity: 0;
    }

    #header {
        position: fixed;
        width: 100%;
    }

    .content {
        flex-direction: column;
        margin-top: 120px;
    }

    .content-box {
        flex-direction: column;
        align-items: center;
    }

    .content-boxElements {
        width: 100%;
        margin-bottom: 50px;
    }

    .box-img {
        margin-bottom: 150px;
    }

    .box-img>img {
        width: 220px;
        height: 200px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        width: 26px;
        height: 26px;
        cursor: pointer;

    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
    }

    .menu-btn>span::before {
        content: '';
        top: -8px;
    }

    .menu-btn>span::after {
        content: '';
        top: 8px;
    }

    .menu-box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 100%;
        left: 61%;
        width: 40%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #262f3e;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu-item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu-item:hover {
        background-color: #CFD8DC;
    }

    #menu-toggle:checked~.menu-btn>span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked~.menu-box {
        visibility: visible;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        transition-duration: .15s;
    }

}