.box {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border: 2px dashed red;
    background-color: green;
}

.homework-box {
    width: 50%;
    text-align: justify;
}

.homework-htmlIcon {
    float: left;
    width: 200px;
    margin-right: 20px;
}

.homework-hwIcon {
    float: right;
    width: 150px;
    margin: 20px 0 10px 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.nav-elements {
    list-style: none;
    border: 1px solid #1316a3;
    width: 200px;
    padding: 10px 0 10px 6px;
}

.nav-elements>a {
    text-decoration: none;
}

.nav-elements:first-child {
    color: #3454bb;
    font-weight: bold;
}